{
	plugins:
		handlebars:
			helpers:
				helperTest: () ->
					output = "Testing Helpers"
			partialsDir: './test/src/layouts/partials'
			partials:
				partial1: '<h1>{{document.example}}</h1>'
				partial2: '<a href="#">Scroll up</a>'
}
